.header {
    @apply w-full flex items-center justify-between px-[20px] sm:px-[140px] h-[75px] lg:h-[90px] relative z-[10];
    background: linear-gradient(#09090b, #050506);
}
.nav_leftBlock {
    @apply flex items-center;
}
.logo {
    @apply w-[146px] h-[24px];
}
.nav_line {
    @apply hidden 2xl:block h-[34px] w-[1px] bg-[#8A89A44D] border-none mx-[24px];
}
.nav_languageBlock {
    @apply hidden 2xl:flex items-center justify-center rounded-[8px] border-[1px] border-[#8A89A44D] w-[99px] h-[34px] cursor-pointer;
}
.ru {
    @apply w-[18px] h-[18px];
}
.nav_languageBlock_text {
    @apply text-[17px] text-[#B9B8D3] font-[500] leading-[16px] mx-[6px];
}
.nav_currencyBlock {
    @apply hidden 2xl:flex items-center justify-center rounded-[8px] border-[1px] border-[#8A89A44D] w-[107px] h-[34px] ml-[16px] cursor-pointer;
}
.wallet_icon {
    @apply w-[18x] h-[18px];
}
.nav_currencyBlock_text {
    @apply text-[17px] text-[#B9B8D3] font-[500] leading-[16px] ml-[10px] mr-[4px];
}
.nav_midBlock {
    @apply hidden 2xl:block ml-[82px];
}
.nav_midBlock_items {
    @apply flex items-center;
}
.nav_midBlock_item {
    @apply text-[18px] text-[#8A89A4] font-[600] leading-[19.8px] ml-[32px] cursor-pointer hover:text-white;
}
.nav_midBlock_item_active {
    @apply text-[#FFFFFF];
}
.nav_midBlock_item_frst {
    @apply ml-0 ;
}
.nav_midBlock_item_active_line {
    @apply w-[36px] h-[2px] rounded-tl-[2px] rounded-tr-[2px] bg-[#FDCA76] mx-auto relative top-[34px];
}
.nav_rightBlock {
    @apply flex items-center;
}
.nav_rightBlock_button {
    @apply cursor-pointer flex items-center justify-center bg-[#FDCA76] rounded-[48px] w-[96px] lg:w-[234px] h-[32px] lg:h-[46px];
}
.steam_icon {
    @apply w-[20px] lg:w-[24px] h-[20px] lg:h-[24px];
}
.nav_rightBlock_button_text {
    @apply hidden lg:block text-[17px] text-[#000000] font-[500] leading-[17px] ml-[8px];
}
.nav_rightBlock_button_text_mobile {
    @apply block lg:hidden text-[14px] text-black font-[500] leading-[14px] ml-[8px];
}
.burgerMenu_icon {
    @apply w-[24px] lg:w-[32px] h-[24px] lg:h-[32px] ml-[16px] block 2xl:hidden;
}
.user_wrap{
    @apply flex items-center gap-x-[16px] relative
}
.user_icon{
    @apply h-[36px] w-[36px] lg:w-[48px] lg:h-[48px] rounded-full
}
.caret_icon{
    @apply max-sm:hidden sm:w-[12px] sm:h-[12px] cursor-pointer
}
.linear_menu{
    @apply sm:hidden w-[24px] h-[24px] cursor-pointer
}
.nav {
    @apply flex items-center;
}
.nav_languageBlock_addElement {
    @apply absolute top-[40px] w-[100px] border-[1px] border-[#8A89A44D] rounded-[8px] px-[16px] py-[8px] z-50;
}
.nav_languageBlock_input:checked ~ .nav_languageBlock_addElement {
    @apply block;
}
.nav_languageBlock_addElement_item {
    @apply flex items-center justify-center cursor-pointer opacity-50 hover:opacity-100;
}
.nav_languageBlock_addElement_item_active {
    @apply opacity-100;
}
.nav_languageBlock_addElement_item_flag {
    @apply w-[18px] h-[18px];
}
.nav_languageBlock_addElement_item_subText {
    @apply text-[17px] text-[#B9B8D3] font-[500]  ml-[8px];
}
.nav_languageBlock_addElement_item_flagEN {
    @apply opacity-100;
}
.nav_languageBlock_addElement_item_text {
    @apply text-[17px] text-[#B9B8D3] font-[500] ml-[8px];
}

.box{
    @apply relative hidden sm:block
}
.nav_currencyBlock_addElement {
    @apply w-[107px] ml-[16px] absolute top-[40px] rounded-[8px] border-[1px] border-[#8A89A44D] py-[8px] z-50;
}
.nav_currencyBlock_addElement_item {
    @apply flex items-center justify-center mt-[8px] cursor-pointer opacity-50 hover:opacity-100;
}
.nav_currencyBlock_addElement_frstItem {
    @apply mt-0;
}
.nav_currencyBlock_addElement_item_text {
    @apply text-[17px] text-[#B9B8D3] font-[500] leading-[17px];
}
.nav_currencyBlock_addElement_item_scndText {
    @apply ml-[4px];
}
.nav_currencyBlock_addElement_item_active {
    @apply opacity-100;
}
.header_menu_wrap{
    @apply flex flex-col items-start gap-y-[12px] absolute right-0 top-[75px] rounded-[12px] w-[163px] h-[168px] pl-[16px] pt-[14px] z-50;
    backdrop-filter: blur(120px);
    background: rgba(34, 34, 54, 0.5);
}
.header_menu_item_wrap{
    @apply cursor-pointer flex gap-x-[8px]
}
.header_menu_item_icon{

}
.header_menu_item_text{
    @apply text-[16px] font-medium leading-[110%];
    color: rgb(138, 137, 164);
}