@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: linear-gradient(0deg, rgba(28, 28, 45, 0.15) 0%, rgba(28, 28, 45, 0.15) 100%), #09090d
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: #2e2e2e;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 60px;
    border: 2px solid #c1bfbf;
}