.change_url_wrap{
    @apply px-[24px] xl:px-[45px] rounded-[16px] w-[335px] h-[432px] relative xl:w-[610px] xl:h-[521px] pt-[31px] xl:pt-[40px];
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.35);
}
.error_trade_close_icon{
    @apply absolute top-[16px] right-[16px] w-[14px] h-[14px] cursor-pointer;
}
.change_url_icon{
    @apply w-[97px] h-[97px] mx-auto;
}
.change_url_h1{
    @apply mx-auto text-[22px] font-semibold leading-[27px] text-center text-[#EBEFFDFF] xl:text-[32px] xl:leading-[39px] mt-[30px] xl:mt-[40px];
}
.change_url_p{
    @apply max-xl:w-[250px] mx-auto mt-[16px] xl:mt-[8px] font-normal text-[16px] leading-[130%] text-center text-[#CAC6DDFF] xl:text-[21px] xl:leading-[32px] opacity-75;
}
.change_url_p_underline{
    @apply underline hover:text-white duration-150 hover:opacity-100
}
.change_url_input{
    @apply text-[14px] xl:text-[18px] xl:leading-[21px] font-medium leading-[16px] rounded-[12px] px-[20px] py-[16px] w-[287px] h-[48px] xl:w-[520px] xl:h-[56px] mt-[25px] xl:mt-[56px];
    color: rgb(138, 137, 164);
    backdrop-filter: blur(120px);
    background: rgba(34, 34, 54, 0.5);
}
.change_url_btn{
    @apply mt-[16px] xl:mt-[24px] mx-auto w-[287px] xl:w-[518px] h-[48px] xl:h-[56px] flex justify-center items-center rounded-[48px];
    box-shadow: inset 0px 2px 0px 0px rgb(32, 33, 51);
    background: rgba(34, 34, 54, 0.5);
}
.change_url_btn_p{
    @apply text-[16px] font-semibold xl:text-[18px] text-white
}