.profile_leftPart_headerBlock {
    @apply flex items-center w-[335px] lg:w-[446px] h-[124px] lg:h-[168px] rounded-[16px] py-[30px] lg:py-[40px] px-[30px] lg:px-[36px];
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) -34.33%,
            rgba(47, 60, 134, 0.05) 100%
    ),
    rgba(28, 28, 45, 0.25);
    backdrop-filter: blur(50px);
}
.peopleAvatar_profile {
    @apply w-[64px] lg:w-[88px] h-[64px] lg:h-[88px];
}
.profile_leftPart_sub_headerBlock {
    @apply ml-[16px] lg:ml-[24px];
}
.profile_leftPart_sub_headerBlock_nameText {
    @apply text-[18px] lg:text-[22px] text-[#FFFFFF] font-[600] leading-[20px] lg:leading-[24px];
}
.profile_leftPart_sub_headerBlock_priceText {
    @apply text-[16px] lg:text-[18px] text-[#FDCA76] font-[600] leading-[18px] lg:leading-[20px] tracking-[0.18px] block mt-[6px] lg:mt-[9px];
}
.profile_leftPart_sub_headerBlock_login {
    @apply ml-[20px] lg:ml-[48px] w-[32px] lg:w-[54px] h-[30px] lg:h-[50px] bg-[#22223680] rounded-[7.1px] lg:rounded-[12px] flex items-center justify-center;
}
.profile_leftPart_mainBlock {
    @apply mt-[30px] px-[24px] rounded-[16px] pb-[42px] lg:pb-0 pt-[30px] w-[335px] lg:w-[446px] h-auto lg:h-[252px];
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) -34.33%,
            rgba(47, 60, 134, 0.05) 100%
    ),
    rgba(28, 28, 45, 0.25);
    backdrop-filter: blur(50px);
}
.profile_leftPart_mainBlock_item {
    @apply flex items-center ml-[24px] mt-[28px] lg:mt-[24px];
}
.profile_leftPart_mainBlock_frstItem {
    @apply mt-[12px];
}
.profile_leftPart_mainBlock_item_text {
    @apply text-[18px] text-[#8A89A4] font-[600] leading-[20px] ml-[14px];
}
.profile_leftPart_mainBlock_item_active {
    @apply bg-[#22223680] h-[48px] px-[24px] rounded-[12px] ml-0 mt-[16px] lg:mt-[12px];
}
.profile_leftPart_mainBlock_item_text_active {
    @apply text-[#EBEFFD];
}
.profile_leftPart_mainBlock_scndItem {
    @apply mt-[16px] lg:mt-[12px];
}